
//Custom variable overrides

$app-theme-bg-color:  #0051b7;
$app-theme-color:       #e4e6e5;
$app-color-blue: #306d9f;
$app-color-white: #fff;
$app-color-black: #000;
$app-color-black-lighter: #333;
$app-color-orange: #ff9800;

$app-color-link-blue: #334159;