@charset "utf-8";

@import "app-variables";

@import "bootstrap";
@import "material/bootstrap-material-design";

@import "featured_icons";

/* general styles */
html {
  height: 100%;
  width: 100%;
}
.index {
  height: 100%;
  width: 100%;
}
.contact_index {

}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section-100 {
  padding-top: 100px;
}
.pad-section img {
  // width: 100%;
}

.text-top-100 {
  display: table-cell;
  text-align: center;
  padding-top: 100px;
}
/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.img-responsive2 {
    display: inline-block !important;
    max-width: 20%;
    height: auto;
}

.white-text {
  color: #fff;
}
.orange-text {
    color: #ff9800!important;
}

.btn-standout {
  background-color: #000000;
}

.icon-block {
  padding: 0 15px;
}

/* additional sections */
#contact {
  margin-top:60px;
}


#home {
  background: url(/images/bg-01.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#home h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}



#about {
}

#services {
  background-color: #306d9f;
  color: #ffffff;
}
#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#information {
  background: url(/images/bg-02.jpg) no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#information .panel {
  opacity: 0.85;
}

#google_map {
  height: 500px;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}

.credits {
  text-align: center;
  size: 0.8em;
}


//Tagline Effects
.tagline {
  background-color: #eee;
}
.top_socials {
    margin: 0 12px;
}
.top_socials li {
    width: 30px;
    display: inline-block;
    vertical-align: top;
    margin-right: 0;
    padding: 0;
}
.tagline a {
    display: block;
    color: #334159;
    line-height: 44px;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    text-align: center;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
}


// .background {
//    -webkit-background-size: 100%;
//   -moz-background-size: 100%;
//   -o-background-size: 100%;
//   background-size: 100%;
//
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   width: 100%;
//   background-attachment: relative;
//   background-position: top center;
// }
// .background-lakes {
//   background-image: url('/images/bg-02.jpg');
// }
//
// .background-alps {
//   background-image: url('/images/bg-01.jpg');
// }
