
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title><%= current_page.data.title || " SUMMIT 360 - Sheffield, UK" %> </title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scaleable=no"> -->
    <meta name="description" content="<%=current_page.data.description || 'Bespoke software development, Ruby, Elixir and Javascript. Based in Sheffield, UK' %>">
    <meta name="author" content="Summit 360 ~ Colin Densem">
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary"><meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@colindensem">
    <meta name="twitter:title" content="SUMMIT360">
    <meta name="twitter:description" content="Independent Software Developer, Sheffield, UK">
    <meta name="twitter:creator" content="@colindensem">
    <meta name="twitter:image" content="https://summit360.co.uk/assets/images/logo-share-250x250.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="Developer of bespoke web applications" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.summit360.co.uk" />
    <meta property="og:image" content="https://summit360.co.uk/assets/images/logo-share-250x250.png" />
    <meta property="og:image:width" content="250" />
    <meta property="og:image:height" content="250" />
    <meta property="og:description" content="Independent Software Developer, Sheffield, UK" />
    <meta property="fb:admins" content="682890668" />


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag "normalize", "all" %>
    <link rel="stylesheet" type="text/css"  href="https://fonts.googleapis.com/css?family=Grand+Hotel"
    >

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <%= yield_content :head %>
  </head>
