---
title: About us
---

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="icon-block">
          <h2 class="center orange-text"><i class="mdi-image-flash-on"></i></h2>
          <h5 class="center">Knowledge</h5>

          <p class="light">  I've been working in IT for over 20 years.
            In this time I've worked with multi system, multi-national manufacturing and logistics projects through to single page websites for self employed people.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="icon-block">
          <h2 class="center orange-text"><i class="mdi-social-group"></i></h2>
          <h5 class="center">User Focused</h5>

          <p class="light">My approach is to understand your problem, really get into your shoes.
          We'll then discover what's needed to achieve a solution. Working with you to achieve, deliver and maintain your needs as they change.
        </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="icon-block">
          <h2 class="center orange-text"><i class="mdi-action-settings"></i></h2>
          <h5 class="center">Not Possible?</h5>

          <p class="light">  When it's deemed not possible, I've looked for a way to make it possible.
            I'll also use my connections to skilled professionals in order to provide extra specialist skills.</p>
        </div>
      </div>
    </div>

  </div>
</div>
