---
title: About us
description: About SUMMIT 360 Web Development
---

<div id="" class="services pad-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center text-white">
        <h1>About SUMMIT 360</h1>
        <h3>
          The view from a mountain summit is amazing. It's also only half the story.
        </h3>
    </div>
  </div>
  </div>
</div>

<section id="" class="about pad-section">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <h3>This Company</h3>
        <p>
          We're based out of Sheffield, in the region of South Yorkshire in the UK.
        </p>
        <p>
          Started by Colin Densem; a developer, founder and climber, in 2007 to handle a mix of personal projects. Fuelled by experience from a decade within an IBM premier company, with insight into enterprise computing and eloquent solutions from aerospace, food &amp; manufacturing to
          pharmaceutical industries.
        </p>
        <p>
          Between 2006 &amp; 2013 whilst working in smaller teams in data, travel and retail sectors, a growing sense of assisting smaller independent businesses with their real challenges developed.
        </p>
        <p>
          I'm very happy when trying to solve your problems. Through a combination of analysis, conversation and thinking, arriving at a solution. I'm an idea partner for individuals, small and medium businesses looking to use IT effectively.
        </p>
        <h3>Which skill, which tool?</h3>
        <p>
          I'll draw on my own skills and knowledge, I'll bring in trusted professionals too. This gives you and I access to very broad range of skills and abilities. From a single page product launch page to a more complex back office system, we can access the right people, to use the right tools, for your project.
        </p>

      </div>
    </div>

  </div>
</section>


<div id="" class="services pad-section">
  <div class="container">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="icon-block">
          <h2 class="text-center orange-text">
            <div class="fa-3x">
              <i class="far fa-book"></i>
            </div>
          </h2>
          <h3 class="text-center">Knowledge</h3>

          <p class="light">
            I've been working in IT &amp; people for over 25 years. In this time I've worked with multi system, multi-national manufacturing and logistics projects through to single page websites for self employed people.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="icon-block">
          <h2 class="text-center orange-text">
           <div class="fa-3x">
              <i class="far fa-thumbs-up"></i>
            </div>
          </h2>
          <h3 class="text-center">User Focused</h3>

          <p class="light">My approach is to understand your problem, really get into your shoes. We'll then discover what's needed to achieve a solution. Working with you to achieve, deliver and maintain your needs as they change.
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="icon-block">
          <h2 class="text-center orange-text">
             <div class="fa-3x">
              <i class="far fa-hand-paper"></i>
            </div>
          </h2>
          <h3 class="text-center">Not Possible?</h3>

          <p class="light">When it's deemed not possible, I'll draw on my years of experience to find a way to make it so. I'll also use my connections to skilled professionals in order to provide extra specialist skills.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col-xs-12 col-md-6 text-center">
        <h3><i class="far fa-eye-slash orange-text"></i>
          Asking Why?
        </h3>
        <p class="left-align light">
          Being able to ask why is crucial. Why do you want feature x?<br/>
          Getting to the root of the problem is paramount.
          This process often drives out crucial findings and is a valuable exercise on it's own.
          More often we discover that a 'vital' feature isn't actually needed, saving you time and money.
          </p>
          <p>There are many tools and theories about how to plan, execute and maintain projects.
            I take a practical approach that works for us both, that's the right way,<span class="bold"> our way.</span></p>
      </div>


      <div class="col-xs-12 col-md-6 text-center">
        <h3><i class="far fa-question orange-text"></i>
          Anything else...
        </h3>
        <p class="left-align light">
          When I'm not working I'm trying to cling to rock faces as a climber.
          It's actually quite relaxing once safely up and down.
        </p>
        <p class="left-align light">
          I co-founded a community for Skoda owners;
          <a href="http://www.briskoda.net" target="_new" class="">BRISKODA <i class="far fa-external-link"></i></a>.
          It's respected as a great owners/motoring community site.<br/>
          In 2013 it was also awared a top 10 visited UK site for automotive recreation by Hitwise</a>.
        </p>
        <p class="left-align light">
          <h4>Finally...</h4>
          If you're looking to start-up with an idea,
          or are already established but need to grow, please talk to me.
          I am confident I can help you on your path from idea through to a
          successful web application &amp; business.
        </p>
      </div>

    </div>

  </div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
    </div>

  </div>
</div>
