---
title: SUMMIT 360 | Web Development & Consultancy | GL
---
<!-- first section - Home -->
<div id="home" class="home">
  <div class="text-top-100 white-text">
    <h1>Challenging Project?</h1>
    <h3>Independent software development, based in the UK</h3>
    <a href="#about" class="btn btn-warning btn-lg btn-st&amp;out">Discover more</a>
  </div>
</div>
<!-- /first section -->

<!-- second section - About -->
<div id="about" class="about pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="/assets/images/logo-share-250x250.png" alt="" />
      </div>
      <div class="col-sm-8 text-center">
        <h2>Bespoke web applications for you.</h2></h2></h2>
        <p class="lead">We'll focus on the core idea, to establish your minimum viable product. Then deliver an initial solution, so you &amp; your customers can gain feedback. We'll work with you to measure &amp; implement the changes required for success.</p>
      </div>
    </div>
  </div>
</div>
<!-- /second section -->

<!-- third section - Services -->
<div id="" class="services pad-section">
  <div class="container">
    <h2 class="text-center">How We Can Help</h2> <hr />
    <div class="row text-center">
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-cloud orange-text"> </i>
        <h4>Project Discovery</h4>
        <p>Working with you to understand your specific challenges. We'll work out the solution required.</p>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-leaf orange-text"> </i>
        <h4>Solutions</h4>
        <p>Not everything is solved with new software. We'll collaboratively explore your issues for a solution.</p>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-phone-alt orange-text"> </i>
        <h4>Delivery &amp; Support</h4>
        <p>Any project delivered contains a product that needs to be maintained &amp; improved upon. We'll support you.</p>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-screenshot orange-text"> </i>
        <h4>Investigation</h4>
        <p>Alternatively we can honestly discuss &amp; brainstorm a specific challenge within your business. We'll help you.</p>
      </div>
    </div>
  </div>
</div>
<!-- /third section -->

<!-- fourth section - Information -->
<div id="information" class="information pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Client: GO OUTDOORS</h2>
          </div>
          <div class="panel-body lead">

            <p>
              We've developed bespoke backoffice systems for the team at GO OUTDOORS.
              With a network of over 50 superstores, information &amp; communication on a wide range of business processes is a key driver.
            </p>
            <p>
              Stores are now able to see &amp; react to changes for the business far more effectively. Crucially reducing internal IT support workloads on common problems such as too much email, tracking &amp; management reporting on tasks.
            </p>
            <p>
              Developed using Ruby on Rails, working closely with the business &amp; regular end user reviews, we delivered &amp; continue to support a key item in the company's retail services to its customers.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Client: BRISKODA</h2>
          </div>
          <div class="panel-body lead">
            <p>

            We founded, run &amp; maintain an online forum with over 100k members for SKODA car fans. <br/>
            The server infrastructure, software &amp; community management, on a daily basis are all key to its continuing growth.
          </p>
          <p>


            We began in 2002 &amp; are looking forward to many more years,  providing a great service &amp; platform for our members across the globe.
          </p>
          <p>

            We rely on a mix of off the shelf commerical software, bespoke software &amp; other community projects to deliver this well respected community, one of the top 10 in the UK for automotive recreation.
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /fourth section -->

<!-- fifth section -->
<div id="based" class="services pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>Based in Sheffield, I work all over the UK</h3>
        <h4>Let's grab a coffee at the Union St, Coworking space.</h4>
      </div>
    </div>
  </div>
</div>
<!-- /fifth section -->

<!-- google map -->
<div id="xgoogle_map"></div>
<!-- /google map -->
