---
title: privacy policy
description: Summit 360 Privacy Policy
---

<section class="pad-section-100">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <h1>Privacy Policy </h1>
        <p class="lead">
          Privacy matters but it can be confusing. This page explains our approach to privacy on all our websites and how it affects you.
        </p>

      </div>
    </div>
    <div class="row">

<h2>Quick version</h2>
<ul>
<li>We collect statistics anonymously about your visit, such as which page(s) you viewed, like this one.</li>
<li>Some 3rd parties like Facebook and Twitter may know you visited this website, if you use their services. We can’t control them but we don’t believe this knowledge poses any threat to you.</li>
<li>If you sign up with us we take great care to keep your information safe and we’ll never share it with others without your express permission.</li>
<li>We never share your data with 3rd parties except to help us deliver our own services. See disclosures section.</li>
</ul>

<p>These are just the key points. If you need more, please continue reading.</p>

<h2>Measuring visitors, &amp; you.</h2>

<p>We use Google Analytics and the information we collect from this helps us understand which parts of our sites are doing well or not so well, how people arrive at our site and so on. Like most websites, we use this information to make our website better for you.</p>
<p>You can learn more about&nbsp;<a title="Google Analytics' privacy policy" href="http://www.google.com/analytics/learn/privacy.html">Google Analytics</a>&nbsp;or&nbsp;<a title="How to opt out of google analytics" href="https://tools.google.com/dlpage/gaoptout">opt out if you wish</a>.</p>

<h2>Security</h2>
<p>SUMMIT 360 Ltd. take many precautions to prevent the loss, misuse or alteration of your personal information. These precautions include:</p>
<ul>
  <li>Use of SSL encryption for sensitive data</li>
  <li>Hardware stored in secured datacentres behind firewalls</li>
  <li>All access to information restricted by password and/or secure key</li>
</ul>
<p>Whilst we take great care to ensure any confidential information remains protected we cannot guarantee the security of data sent over the Internet.</p>
<p>Of course you are responsible for keeping your password and user details confidential. Nobody at SUMMIT 360 Ltd. will ever ask you for your password, so please don’t trust anybody asking you for it.</p>

<h2>Disclosures</h2>
<p>
  There are a few reasons why we may disclose information about you.
  <ul>
    <li>To any extent that we are required to do so by law.</li>
    <li>In connection with any legal proceedings.</li>
    <li>To establish, exercise or defend our legal rights.</li>
  </ul>
</p>

<h2>Emails</h2>
<p>We may send you email notifications regarding your service (such as invoices) or which you have specifically requested, such as newsletters or notifications. You have the ability to opt out of any of this communication at any time.</p>
<p>We will&nbsp;<em>never&nbsp;</em>provide your personal information or email address to any third parties except where they are specifically employed to help deliver our own services, as detailed above.</p>

<h2>Online payment</h2>
<p>We use a variety of payment providers to bill for our products online. These companies will have access to your personal and payment information. When paying by credit card, SUMMIT 360 Ltd. themselves do not ever have any access to your credit card details.</p>
<p>The third parties we use are  Stripe (for recurring payments & credit cards) and PayPal (to process credit cards and accept payment via PayPal).</p>
<p>We share information with these companies only to the extent necessary for the purposes of processing payments you make via our website.</p>

<h2>If you sign up for a service</h2>
<p>When you sign up for any of our services – paid or otherwise – we will record specific personal information about you, such as your name and email address.</p>
<p>We will also collect and store information about your use of our services so as to improve them. For example, we keep a log of what features are being used at any time.</p>
<p>We also log account and transaction history for accounting purposes, and to monitor our business activities.</p>

<h2>Social networks</h2>
<p>These services provide social buttons and similar features which we can use on our website(s) – such as the “Like” and “Tweet” buttons.</p>
<p>To do so we embed code that they provide and we do not control ourselves. To function their buttons generally know if you’re logged in; for example Facebook use this to say “x of your friends like this”. We do not have any access to that information, nor can we control how those networks use it.</p>
<p>Social networks therefore&nbsp;<em>could&nbsp;</em>know that you’re viewing this website, if you use their services (that isn’t to say they do, but their policies may change). As our website is remarkably inoffensive we imagine this is not a concern for most users.</p>

<h2>Third party websites</h2>
Our website(s) contains links to other websites. We are not responsible for the privacy policies and practices of third party websites. you should look for a privacy policy on their sites.


<h2>Data finding</h2>
<p>SUMMIT 360 Ltd. makes use of 3rd party APIs to collect information to aide in the delivery and features of pages. For example the use of the Google Maps API to gather local presence information (<a href="http://www.google.com/privacy.html">see Google Map’s privacy policy</a>).</p>

<h2>Updates to this policy</h2>
<p>We may ammend this privacy policy from time-to-time as the laws and technology evolve. You should check this page periodically to ensure you are aware of any changes.  We may also notify you of changes to our privacy policy by email.</p>

<h2>Any questions?</h2>
<p>If you have any questions about this privacy policy or your personal data, please write to us by email to hello [at] summit360 [dot] co [dot] uk</p>
</div>


      </div>

      </div>
    </div>

</section>
<section id="services" class="pad-section">
<div class="text-center">

  <p class="lead">We respect your privacy as much as our own, we'll not share personal information with 3rd parties.</p>
</div>
</section>
